div{
  background-color: coral;
  padding: 30px;
  margin: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}
.photo{
  height: 200px;
  width: 400px;
}